@{
    ViewBag.Title = "Home Page";
}

<!--Header-->

<div class="container-fluid top-header">
    <div class="row">
        
        <div class="inner-bg text-center">
            <p>PPC Rental</p>
        </div>
    </div>
    <!--Khung tìm kiếm-->
    <head>
        <title>Table</title>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
    </head>
    <body>
        <div class="container-fluid">
            <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
            <div class="row">
                <div class="col-md-12 me">
                    <div class="col-md-12 header">
                        <p>Find you place</p>
                    </div>
                    <div class="col-md-12 content">
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input class="btn" type="button" value="Search"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <!--List Project of Company-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Images/Img1.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
            <div class="col-sm-4">
                <img src="~/Images/Img2.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
            <div class="col-sm-4">
                <img src="~/Images/Img3.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/Images/Img4.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
            <div class="col-sm-4">
                <img src="~/Images/Img5.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
            <div class="col-sm-4">
                <img src="~/Images/Img6.jpg" alt="">
                <h3>Ten du an</h3>
                <p>bla bla...</p>
            </div>
        </div>
    </div>