@model IEnumerable<PPC_Rental.Models.PROPERTY>
@{
    ViewBag.Title = "Home Page";
}

<!--Header-->

<div class="container-fluid top-header">
    <div class="row">
        <div><img src="~/Images/main_demo_new.jpg" alt="" width="100%"></div>
        <div class="inner-bg text-center">
            <p>PPC Rental</p>
        </div>
    </div>
    <!--Khung tìm kiếm-->
    <head>
        <title>Table</title>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
    </head>
    <body>
        <div class="container-fluid">
            <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="~/Content/myStyle.css">
            <div class="row">
                <div class="col-md-12 me">
                    <div class="col-md-12 header">
                        <p>Find you place</p>
                    </div>
                    <div class="col-md-12 content">
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input type="text" value="Search"></div>
                        </div>
                        <div class="col-md-3 sub_ct">
                            <div class="col-md-12"><input type="text" value="Search"></div>
                            <hr>
                            <div class="col-md-12"><input class="btnsearch" type="button" value="Search"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <!--List Project of Company-->
    <div class="row">
        @foreach (var Item in Model)
        { 
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/Item/@Item.Avatar" alt="...">
                <div class="caption">
                    <h3>@Item.PropertyName</h3>
                    <p>...</p>
                    <p><a href="~/ViewDetailProject/ViewDetailProject/@Item.ID" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        }
    </div>